body {
    font-family: Arial, sans-serif;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f4f4f4
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 10px;
    width: 90%;
    height: 100vh;
}
.square {
    display: flex;
    background-image: url(img1.png);
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    padding-bottom: 50px;
    padding-top: 30px;
    height: 25vh;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.square h2{
    margin-bottom: 1vh;
}
.card {
    position: fixed; /* Ustawienie elementu na stałe w oknie przeglądarki */
    background-image: url(image.png);
    background-size: cover;
    background-position: center; /* Wyśrodkowanie obrazu tła */
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center; /* Wyśrodkowanie zawartości poziomo */
    align-items: center;     /* Wyśrodkowanie zawartości pionowo */
    text-align: center;      /* Wyśrodkowanie tekstu w poziomie */
    color: black;
    font-size: 2vh;          /* Można dostosować według potrzeb */
    border-radius: 2vh;     /* Zaokrąglenie rogów */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 1); /* Cień */
    z-index: 1000;          /* Upewnij się, że element będzie nad innymi */
    display: none;          /* Ukryty domyślnie */
}
.card p{
    font-size: 40px; /* Rozmiar czcionki */
    color: white; /* Kolor tekstu */
    text-shadow: 
      1px 1px 0 #000, /* Cień w prawo i w dół */
      -1px -1px 0 #000, /* Cień w lewo i w górę */
      1px -1px 0 #000, /* Cień w prawo i w górę */
      -1px 1px 0 #000; /* Cień w lewo i w dół */
}
#vvv{
    display: flex;
    height: 100%;
    align-items: center;     /* Wyśrodkowanie zawartości pionowo */
    text-align: center;      /* Wyśrodkowanie tekstu w poziomie */
}